<!DOCTYPE html>

<html>
    <head>
        <title>404</title>
        <link rel="icon" href="https://placehold.it/50x50">
        <link rel="stylesheet" href="/css/styles.css">
       
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <h1>{{errorMsg}}</h1>
        </div>
        {{>footer}}
    </body>

</html>