<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="https://placehold.it/50x50">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <img src="http://placehold.it/500x500">
        </div>
        {{>footer}}
    </body>

</html>