<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="https://placehold.it/50x50">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class='main-content'>
            {{!-- how to call a partial --}}
            {{>header}}
            <h1>{{message}}</h1>
        </div>
        
        {{>footer}}
    </body>

</html>